{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <div class="container-fluid margin_scroll">
        <a href="{{ path('app_listArticles',{'category': article.category.idCategory, 'brand':0} )}}" class="btn btn-light align-self-center">{{ article.category.name }}</a>
        >
        <a href="{{ path('app_listArticles',{'category': article.category.idCategory, 'brand': article.brand.idBrand} )}}" class="btn btn-light">{{ article.brand.name }}</a>
        >
        <a class="btn btn-light">{{ article.name }}</a>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center align-items-end">
            <div>
                <div class="btn signika subline mr-2 col-12">Tallas:</div>
            </div>
                <div>
                    <div class="btn btn-light signika subline mr-2 " id="S">S</div>
                </div>
                <div>
                    <div class="btn btn-light signika subline mr-2" id="M">M</div>
                </div>
                <div>
                    <div class="btn btn-light signika subline mr-2 size_select" id="L">L</div>
                </div>
                <div>
                    <div class="btn btn-light signika subline mr-2"  id="XL">XL</div>
                </div>
        </div>
    </div>

    {% if article_S != null %}
    <div class="container cont_S mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
            </div>
            <div class="col-lg-4">
                <h3 class="mb-3"><b>{{ article_S[0].name}}</b></h3>
                <p>Descripción: {{ article_S[0].description }}</p>
                <h3 >Talla: <span class="text-secondary">{{ article_S[0].size }}</span></h3>
                <div class="row mt-3">
                    <div class="col-lg-6"><h3>Precio:<span class="text-secondary">{{ article_S[0].price }}€</span></h3></div>
                    <div class="col-lg-6"><h3>Envio:<span class="text-secondary">10€</span></h3></div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <a class="btn btn-navegar col-lg-10 mb-2 " href="{{ path('app_articleSize_buy',{'id': article_S[0].id_article, 'size':article_S[0].size, 'seller':article_S[0].user} )}}">Comprar</a>
                </div>
                <div class="col-lg-12 text-center mb-5">
                    <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container cont_S mt-5 mb-5">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
                </div>
                <div class="col-lg-4">
                    <h3 class="mb-3"><b>{{ article.name}}</b></h3>
                    <p>Descripción: {{ article.description }}</p>
                    <h3 >Talla: <span class="text-secondary">S</span></h3>
                    <div class="row mt-3">
                        <div class="col-lg-6"><h5 class="text-danger">Fuera de Stock</h5></div>
                    </div>
                    <div class="col-lg-12 text-center mb-5">
                        <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if article_M != null %}
    <div class="container cont_M mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
            </div>
            <div class="col-lg-4">
                <h3 class="mb-3"><b>{{ article_M[0].name}}</b></h3>
                <p>Descripción: {{ article_M[0].description }}</p>
                <h3 >Talla: <span class="text-secondary">{{ article_M[0].size }}</span></h3>
                <div class="row mt-3">
                    <div class="col-lg-6"><h3>Precio:<span class="text-secondary">{{ article_M[0].price }}€</span></h3></div>
                    <div class="col-lg-6"><h3>Envio:<span class="text-secondary">10€</span></h3></div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <a class="btn btn-navegar col-lg-10 mb-2" href="{{ path('app_articleSize_buy',{'id': article_M[0].id_article, 'size':article_M[0].size, 'seller':article_M[0].user} )}}">Comprar</a>
                </div>
                <div class="col-lg-12 text-center mb-5">
                    <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                </div>
            </div>
        </div>
    </div>
        {% else %}
            <div class="container cont_M mt-5 mb-5">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
                    </div>
                    <div class="col-lg-4">
                        <h3 class="mb-3"><b>{{ article.name}}</b></h3>
                        <p>Descripción: {{ article.description }}</p>
                        <h3 >Talla: <span class="text-secondary">M</span></h3>
                        <div class="row mt-3">
                            <div class="col-lg-6"><h5 class="text-danger">Fuera de Stock</h5></div>
                        </div>
                        <div class="col-lg-12 text-center mb-5">
                            <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

    {% if article_L != null %}
    <div class="container cont_L mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
            </div>
            <div class="col-lg-4">
                <h3 class="mb-3"><b>{{ article_L[0].name}}</b></h3>
                <p>Descripción: {{ article_L[0].description }}</p>
                <h3 >Talla: <span class="text-secondary">{{ article_L[0].size }}</span></h3>
                <div class="row mt-3">
                    <div class="col-lg-6"><h3>Precio:<span class="text-secondary">{{ article_L[0].price }}€</span></h3></div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <a class="btn btn-navegar col-lg-10 mb-2 " href="{{ path('app_articleSize_buy',{'id': article_L[0].id_article, 'size':article_L[0].size, 'seller':article_L[0].user} )}}">Comprar</a>
                    <div class="col-lg-6"><h3>Envio:<span class="text-secondary">10€</span></h3></div>
                </div>
                <div class="col-lg-12 text-center mb-5">
                    <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container cont_L mt-5 mb-5">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
                </div>
                <div class="col-lg-4">
                    <h3 class="mb-3"><b>{{ article.name}}</b></h3>
                    <p>Descripción: {{ article.description }}</p>
                    <h3 >Talla: <span class="text-secondary">L</span></h3>
                    <div class="row mt-3">
                        <div class="col-lg-6"><h5 class="text-danger">Fuera de Stock</h5></div>
                    </div>
                    <div class="col-lg-12 text-center mb-5">
                        <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if article_XL != null %}
    <div class="container cont_XL mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
            </div>
            <div class="col-lg-4">
                <h3 class="mb-3"><b>{{ article_XL[0].name}}</b></h3>
                <p>Descripción: {{ article_XL[0].description }}</p>
                <h3 >Talla: <span class="text-secondary">{{ article_XL[0].size }}</span></h3>
                <div class="row mt-3">
                    <div class="col-lg-6"><h3>Precio:<span class="text-secondary">{{ article_XL[0].price }}€</span></h3></div>
                    <div class="col-lg-6"><h3>Envio:<span class="text-secondary">10€</span></h3></div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <a class="btn btn-navegar col-lg-10 mb-2 " href="{{ path('app_articleSize_buy',{'id': article_XL[0].id_article, 'size':article_XL[0].size, 'seller':article_XL[0].user} )}}">Comprar</a>
                </div>
                <div class="col-lg-12 text-center mb-5">
                    <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container cont_XL mt-5 mb-5">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_lg" alt="Imagen del producto">
                </div>
                <div class="col-lg-4">
                    <h3 class="mb-3"><b>{{ article.name}}</b></h3>
                    <p>Descripción: {{ article.description }}</p>
                    <h3 >Talla: <span class="text-secondary">XL</span></h3>
                    <div class="row mt-3">
                        <div class="col-lg-6"><h5 class="text-danger">Fuera de Stock</h5></div>
                    </div>
                    <div class="col-lg-12 text-center mb-5">
                        <div class="btn btn-success col-lg-10 mb-2">Vender</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row border-bottom">
            <div class="col-lg-6 text-left signika">
                <h5>Le recomendamos...</h5>
            </div>
            <div class="col-lg-6 text-right signika">
            </div>
        </div>
        <div class="row mt-3 mb-5">
            {% for r in recommended %}
            <a href="{{ path('app_showArticle',{'id': r.id_article, 'category':r.category} )}}" class="btn col-lg-4 text-center">
                <img src="{{ asset('img/camisetaPrueba.png') }}" class="article_image_sm" alt="Imagen del producto">
                <p class="text-left">{{ r.image }}</p>
                <p class="text-left">{{ r.name }}</p>
                <p class="text-left">{{ r.price }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $( "#S" ).click(function () {
            if ( $( ".cont_S" ).is( ":hidden" ) ) {
                $( ".cont_S" ).slideDown( "slow" );
                $( ".cont_M" ).hide("slow");
                $( ".cont_L" ).hide("slow");
                $( ".cont_XL" ).hide("slow");
                $("#S").addClass("size_select")
                $("#M").removeClass("size_select")
                $("#L").removeClass("size_select")
                $("#XL").removeClass("size_select")
            }
        });
        $( "#M" ).click(function () {
            if ( $( ".cont_M" ).is( ":hidden" ) ) {
                $( ".cont_M" ).slideDown( "slow" );
                $( ".cont_S" ).hide("slow");
                $( ".cont_L" ).hide("slow");
                $( ".cont_XL" ).hide("slow");
                $("#M").addClass("size_select")
                $("#S").removeClass("size_select")
                $("#L").removeClass("size_select")
                $("#XL").removeClass("size_select")
            }
        });
        $( "#L" ).click(function () {
            if ( $( ".cont_L" ).is( ":hidden" ) ) {
                $( ".cont_L" ).slideDown( "slow" );
                $( ".cont_S" ).hide("slow");
                $( ".cont_M" ).hide("slow");
                $( ".cont_XL" ).hide("slow");
                $("#L").addClass("size_select")
                $("#S").removeClass("size_select")
                $("#M").removeClass("size_select")
                $("#XL").removeClass("size_select")
            }
        });
        $( "#XL" ).click(function () {
            if ( $( ".cont_XL" ).is( ":hidden" ) ) {
                $( ".cont_XL" ).slideDown( "slow" );
                $( ".cont_S" ).hide("slow");
                $( ".cont_M" ).hide("slow");
                $( ".cont_L" ).hide("slow");
                $("#XL").addClass("size_select")
                $("#S").removeClass("size_select")
                $("#M").removeClass("size_select")
                $("#L").removeClass("size_select")
            }
        });
    </script>
{% endblock %}