{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
     function Iva (a) {
        value=(0.21)*a;
        document.getElementById('IVA').innerHTML="  IVA: "+value+"€";
        document.getElementById('total').innerHTML=Math.round((value+a+10)*100)/100+"€";
    }
     Iva({{ size.price }});
</script>
{% endblock %}

{% block body %}
    <div class="container margin_scroll">
        <div class="row justify-content-center">
            <div class="col-lg-6 box-form">
                <h2 class="mb-4">Compra</h2>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(formU.address) }}
                    </div>
                </div>
                {{form_start(form)}}
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.owner) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.number) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.cvv) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>
                <input type="submit" class="btn btn-navegar mt-4 col-12" value="Comprar">
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="container border-top border-bottom mb-5">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h3>Articulo: <span class="text-secondary">{{ size.article.name }}</span>  Talla:<span class="text-secondary">{{ size.size }}</span></h3>
                </div>

            </div>
            <div class="row justify-content-center mb-3">
                <div>
                    <h5 id="IVA"></h5>
                    <h5>Envio: 10€</h5>
                </div>
                <h5 class="align-self-center">Total:</h5>
                <h2 class="align-self-center" id="total"> </h2>
            </div>
        </div>
    </div>
{% endblock %}