{% extends 'base.html.twig' %}

{% block error %}{% endblock %}

{% block body %}
    <div class="container margin_scroll signika">
        <h3 class="">Mis Articulos</h3>
    </div>
    {% for size in sizes %}
        <div class="container mt-5 mb-5 border-bottom">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="/Daw-Le-Ram/public/img/camisetaPrueba.png" class="article_image_sm" alt="Imagen del producto">
                </div>
                <div class="col-lg-4">
                    <h3>{{ size.article.name }}</h3>
                    <div class="row mt-3">
                        <div class="col-lg-6">Talla:<h5 class="text-secondary">{{ size.size }}</h5></div>
                        <div class="col-lg-6">Precio:<h5 class="text-secondary">{{ size.price }}€</h5></div>
                    </div>
                    <a class="btn btn-secondary text-light" href="{{ path('app_editUpArt',{'id': size.article.idArticle, 'size': size.size} )}}">Editar</a>
                    <a class="btn btn-danger text-light" href="{{ path('app_articleSize_delete',{'id': size.article.idArticle, 'size':size.size} )}}" onclick="return confirm('¿Esta seguro que desea eliminar este usuario?')">X</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}